# /.github/workflows/ci.yaml
# GitHub actions workflow

name: CI

on: [push, pull_request]

jobs:
  lint:
    name: Lint
    strategy:
      matrix:
        node-version: [lts/*]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Check for lint/formatting errors
        run: |
          npm ci
          npm run lint
  test-library:
    name: Test (Library)
    strategy:
      matrix:
        node-version: [lts/*, latest]
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Run library tests
        run: |
          npm ci
          npm run test:unit
  test-integration:
    name: Test (Integration)
    needs: [test-library]
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:7
        ports:
          - 6379:6379
      redis-cluster:
        image: grokzen/redis-cluster:7.0.0
        env:
          IP: 0.0.0.0
        ports:
          - 7000-7005:7000-7005
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Use Node lts/*
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Run integration tests
        run: |
          npm ci
          npm run test:integration
        env:
          REDIS_PORT: 6379
          REDIS_CLUSTER_PORT: 7000
  publish:
    name: Publish
    needs: [lint, test-library, test-integration]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org/
      - name: Install dependencies
        run: npm ci
      - name: Publish package to NPM
        run: npm publish --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Build package to upload to GitHub releases
        run: |
          npm pack
          mv rate-limit-redis-*.tgz rate-limit-redis.tgz
      - name: Create a Github release
        uses: softprops/action-gh-release@v1
        with:
          files: rate-limit-redis.tgz
          body:
            You can view the changelog
            [here](https://github.com/express-rate-limit/rate-limit-redis/blob/main/changelog.md).
